<div class="content flex_col profileOverview">
    <div class="filter_container">
        <div class="filter_content">
            <div class="filter_head">
                <i class="fas fa-times fa-2x"></i>
            </div>
            <form class="hobby_form">
                <div class="hobby">
                    <h2 class="filterTitle" data-lang="hobby's">Hobby's</h2>
                    <label><input type="checkbox" name="hobby" id="voetbal" data-lang="Voetbal">Voetbal</label><br>
                    <label><input type="checkbox" name="hobby" id="hockey" data-lang="Hockey">Hockey</label><br>
                    <label><input type="checkbox" name="hobby" id="paardrijden" data-lang="Paardrijden">Paardrijden</label><br>
                    <label><input type="checkbox" name="hobby" id="wandelen" data-lang="Wandelen">Wandelen</label><br>
                    <label><input type="checkbox" name="hobby" id="hardlopen" data-lang="Hardlopen">Hardlopen</label><br>
                    <label><input type="checkbox" name="hobby" id="tennis" data-lang="Tennis">Tennis</label><br>
                    <label><input type="checkbox" name="hobby" id="zeilen" data-lang="Zeilen">Zeilen</label><br>
                    <label><input type="checkbox" name="hobby" id="boogschieten" data-lang="Boogschieten">Boogschieten</label><br>
                    <label><input type="checkbox" name="hobby" id="golf" data-lang="Golf">Golf</label><br>
                    <label><input type="checkbox" name="hobby" id="bowlen" data-lang="Bowlen">Bowlen</label><br>
                    <label><input type="checkbox" name="hobby" id="basketbal" data-lang="Basketbal">Basketbal</label><br>
                    <label><input type="checkbox" name="hobby" id="yoga" data-lang="Yoga">Yoga</label><br>
                    <label><input type="checkbox" name="hobby" id="muziek" data-lang="Muziek">Muziek</label><br>
                    <label><input type="checkbox" name="hobby" id="literatuur" data-lang="Literatuur">Literatuur</label><br>
                    <label><input type="checkbox" name="hobby" id="kunst" data-lang="Kunst">Kunst</label><br>
                    <label><input type="checkbox" name="hobby" id="astrologie" data-lang="Astrologie">Astrologie</label><br>
                    <label><input type="checkbox" name="hobby" id="theater" data-lang="Theater">Theater</label><br>
                    <label><input type="checkbox" name="hobby" id="toneel" data-lang="Toneel">Toneel</label><br>
                    <label><input type="checkbox" name="hobby" id="film" data-lang="Film">Film</label><br>
                </div>
            </form>

            <form class="age_form">
                <div class="age">
                    <h2 class="filterTitle" data-lang="leeftijden">Leeftijden</h2>
                    <label><input type="checkbox" name="age" id="18-25">18-25</label><br>
                    <label><input type="checkbox" name="age" id="25-35">25-35</label><br>
                    <label><input type="checkbox" name="age" id="35-45">35-45</label><br>
                    <label><input type="checkbox" name="age" id="45-55">45-55</label><br>
                    <label><input type="checkbox" name="age" id="55-65">55-65</label><br>
                    <label><input type="checkbox" name="age" id="65-75">65-75</label><br>
                    <label><input type="checkbox" name="age" id="75-85">75-85</label><br>
                    <label><input type="checkbox" name="age" id="85+">85+</label><br>
                </div>
            </form>

            <form class="destination_form">
                <div class="destination">
                    <h2 class="filterTitle" data-lang="bestemmingen">Bestemmingen</h2>
                    <label><input type="checkbox" name="destination" id="Aruba" data-lang="Aruba">Aruba</label><br>
                    <label><input type="checkbox" name="destination" id="Bali" data-lang="Bali">Bali</label><br>
                    <label><input type="checkbox" name="destination" id="Bonaire" data-lang="Bonaire">Bonaire</label><br>
                    <label><input type="checkbox" name="destination" id="Bulgarije" data-lang="Bulgarije">Bulgarije</label><br>
                    <label><input type="checkbox" name="destination" id="Curaçao" data-lang="Caraçao">Curaçao</label><br>
                    <label><input type="checkbox" name="destination" id="Cyprus" data-lang="Cyprus">cyprus</label><br>
                    <label><input type="checkbox" name="destination" id="Dubai" data-lang="Dubai">Dubai</label><br>
                    <label><input type="checkbox" name="destination" id="Egypte" data-lang="Egypte">Egypte</label><br>
                    <label><input type="checkbox" name="destination" id="Istanbul" data-lang="Istanbul">Istanbul</label><br>
                    <label><input type="checkbox" name="destination" id="Gambia" data-lang="Gambia">Gambia</label><br>
                    <label><input type="checkbox" name="destination" id="Griekenland" data-lang="Griekenland">Griekenland</label><br>
                    <label><input type="checkbox" name="destination" id="Indonesië" data-lang="Indonesië">Indonesië</label><br>
                    <label><input type="checkbox" name="destination" id="Italië" data-lang="Italië">Italië</label><br>
                    <label><input type="checkbox" name="destination" id="Macedonië" data-lang="Macedonië">Macedonië</label><br>
                    <label><input type="checkbox" name="destination" id="Marokko" data-lang="Marokko">Marokko</label><br>
                    <label><input type="checkbox" name="destination" id="Portugal" data-lang="Portugal">Portugal</label><br>
                    <label><input type="checkbox" name="destination" id="Spanje" data-lang="Spanje">Spanje</label><br>
                    <label><input type="checkbox" name="destination" id="Thailand" data-lang="Thailand">Thailand</label><br>
                    <label><input type="checkbox" name="destination" id="Turkije" data-lang="Turkije">Turkije</label><br>
                    <label><input type="checkbox" name="destination" id="VerArabischeEmiraten" data-lang="Ver. Arabische Emiraten">Ver. Arabische Emiraten</label><br>
                </div>
            </form>

            <form class="gender_form">
                <div class="gender">
                    <h2 class="filterTitle">Geslacht</h2>
                    <label><input type="radio" name="gender" id="man" data-lang="Man" checked>Man</label><br>
                    <label><input type="radio" name="gender" id="vrouw" data-lang="Vrouw">Vrouw</label><br>
                </div>
            </form>
        </div>
    </div>

    <div class="buttons">
        <div class="fcBtn">
            <button class="filterContent_btn">Filters</button>
        </div>

        <div class="dropdown_aantal">
            <label for  data-lang="Rijen per pagina"> rijen per pagina</label>
            <select name="dropdown">
                <option value="5" id="cb1">5</option>
                <option value="10" id="cb2">10</option>
                <option value="15" id="cb3">15</option>
                <option value="20" id="cb4" selected>20</option>
            </select>
            <form class="select">
                <div class="dropdown_select">
                    <input class="button_select" type="submit" data-lang="select" value="select">
                </div>
            </form>
        </div>
    </div>


    <div class="profiles">

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon1.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Miguel, 36 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon2.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Jonathan, 18 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon3.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Oscar, 21 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon4.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Mike, 18 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon5.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Jay, 17 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon8.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Yordi, 34 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon10.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Sebastian, 23 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon13.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Kim, 18 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon14.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Antje, 19 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="profile_img">
                    <img class="profile_picture" src="assets/img/profiles/fotoPersoon19.jpg">
                </div>
                <div class="profile_content">
                    <div class="profile_header">
                        <h3 class="profile_name">Sam, 55 jaar</h3>
                        <div class="favorite">
                            <i class="fas fa-star favorite_btn"></i>
                        </div>
                    </div>
                    <div class="profile_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
                            fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
                            dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
                            dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.
                        </p>
                    </div>
                    <div class="profile_footer">
                        <a href="profile-details.html">Bekijk profiel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>