<div class="content">
    <div class="details">
        <div class="flex-container">
            <div>
                <h1 class="name"></h1>
            </div>
            <div class="favorite">
                <i class="far fa-star favorite_btn"></i>
            </div>
            <div>
                <button class="messageButton">Stuur Bericht</button>
            </div>
        </div>
        <div><img class="profile_img" src="" alt=""></div>
        <div class="body">
            <div class="head">Leeftijd:</div>
            <div class="age"></div><br>
            <div class="head">Geslacht:</div>
            <div class="gender"></div><br>
            <div class="head">Stad:</div>
            <div class="city"></div><br>
            <div class="head">Hobby's:</div>
            <div class="hobby"></div><br>
            <div class="head">Bio:</div>
            <div class="bio"></div><br>
            <div class="head">Bestemming:</div>
            <div class="vacation"></div>
            <form>
                <input class="back" type="button" value="Back">
            </form>
        </div>
    </div>
    <div id="overlay">
        <div id="popup">
            <div id="popupContent">
                <div>
                    <a class="closePopup">
                        <i id="closePopupIcon" class="fas fa-times fa-2x"></i>
                    </a>
                </div>
                <div id="messageWorkArea">
                    <div class="messageSubjectContainer">
                        <div><b id="subjectText">Onderwerp</b></div>
                        <input class="messageSubject" type="text" placeholder="Schrijf hier wat het onderwerp is...">
                    </div>
                    <div class="messageContentContainer">
                        <div><b id="messageContentText">Inhoud</b></div>
                        <textarea class="messageContent" placeholder="Schrijf hier wat u wilt zeggen..."></textarea>
                    </div>
                    <div>
                        <button class="sendMessageButton">Verzend Bericht</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>