<div class="user_favorite_list" id="favorite_pagination">
    <div class="user_favorite_person">

        <div class="profile_content">
            <div class="profile_img">

            </div>
            <div class="profile_header_favorite" id="profile_header_favorite">
                <p class="hidden_gender"></p>
                <img class="profile_picture" src="">
                <h3 class="profile_name"></h3>
                <h3 class="profile_age"></h3>
            <div class="favorite">
            <p>I am a favourite</p>
            </div>
            </div>
            <div class="profile_body_favorite">
                <p>

                </p>
            </div>
            <div class="profile_footer_favorite">
                <a href="">Bekijk profiel</a>
            </div>
        </div>
    </div>
</div>