<div class="content flex_col confirmNewEmail">
    <div id="confirmMessage">
        <span class="translate" data-lang="newEmail1">Er is een email verstuurd naar uw nieuwe emailadres ter verificatie. </span><br>
        <span class="translate" data-lang="newEmail2">klik</span><a href="" data-controller="settings">
        <span class="translate" data-lang="newEmail3">hier</span></a>
        <span class="translate" data-lang="newEmail4">om weer terug te keren naar uw Account instellingen.</span>
    </div>
</div>