<div class="content flex_col confirmNewPassword">
    <div id="confirmMessage">
        <span class="translate" data-lang="newPassword1">Er is een email verstuurd naar uw emailadres ter verificatie van uw nieuwe wachtwoord.</span> <br>
        <span class="translate" data-lang="newPassword2">klik </span>
        <a href="" data-lang="settings"><span class="translate" data-controller="newPassword3">hier</span></a>
        <span class="translate" data-lang="newPassword4">om weer terug te keren naar uw Account instellingen.</span>
    </div>
</div>