<div class="content flex_col deleteAccountMessage">
    <div id="deleteAccountMessage">
        <span class="translate" data-lang="delete1">Weet u zeker dat u uw account wilt verwijderen?</span>
    </div>
    <div id="message"></div>
    <div class="flex-container">
        <div id="cancelDelete">
            <button id="no" onclick="returnToSettings()"><span class="translate" data-lang="delete2">Account behouden</span></button>
        </div>
        <div id="confirmDelete">
            <button id="yes" onclick="confirmDeleteAccount()"><span class="translate" data-lang="delete3">Account verwijderen</span></button>
        </div>
    </div>
</div>