<div class="content flex_col home">
        <div class="frontpage_introduction">
            <h1><span class="translate" data-lang="greeting">Welkom</span><span class="user"></span></h1>
            <p><span data-lang="home1">Ben jij alleen op vakantie en wil je een keertje met iemand anders iets gaan doen voor een dagje?
                Dan ben je hier aan het juiste adres .</span> <br>
                <span data-lang="home2">Maak een account aan en word verbonden met duizende mensen over heel Europa.</span> <br>
                <span data-lang="home3"> Dit is jou kans voor een unieke ervaring die je nergens anders kunt krijgen.</span> <br>
                <span data-lang="home4"> in verbinding met mensen uit Frankrijk, Duitsland, Spanje en nog veel meer.</span></p>
            <form class="frontpage_form">
                <div class="frontpage_registration_link">
                    <input class="frontpage_registration" type="submit" data-lang="create_account" value="Account maken">
                </div>
            </form>
        </div>
        <div class="frontpage_site_review">
            <h3>Site reviews</h3>
            <div class="site_reviews"></div>
            </div>
        <div class="frontpage_travel_review">
            <h3>Reis reviews</h3>
            <div class="travel_reviews"></div>
        </div>
    </div>