<div class="content flex_col manual">

    <div class="info_manual">
        <h1><span class="translate" data-lang="handleiding"> Handleiding </span></h1>
        <p><span class="translate" data-lang="handleidingIntro">Op deze pagina kunt u alle informatie vinden die u nodig heeft als u vastloopt tijdens het gebruik van de
            website. De informatie staat per onderwerp als kopje aangegeven op deze pagina.</span>
        </p>

        <h3><span class="translate" data-lang="beschrijving">Beschrijving</span></h3>
        <p><span class="translate" data-lang="beschrijvingInfo">Deze website is voor alleenstaande mensen die op vakantie willen en toch met iemand willen reizen. De
            gebruikers kunnen een profiel op onze website maken waarmee ze in contact kunnen komen met mensen gebaseerd
            op hun interesses. U vindt mensen die geschikt zijn om mee te reizen door in een filter de gewilde gegevens
            in te vullen, zo kunt u de hobby’s en leeftijd van mensen aangeven die de andere gebruiker moet hebben om te
            matchen met wat u in de andere persoon zoekt.</span>
        </p>

        <h3><span class="translate" data-lang="inlogProblemen">Inlog problemen</span></h3>
        <p><span class="translate" data-lang="inlogProblemenInfo">In het geval dat de gebruiker zijn wachtwoord vergeten is, dan kan de gebruiker een mail naar zichzelf laten
            sturen waarin staat hoe hij het wachtwoord moet veranderen. Wanneer de gebruiker zijn gebruikersnaam niet
            meer weet dan kunt u ook hier een mail voor krijgen waar de gebruikersnaam in staat en deze kunt u dan weer
            gebruiken.</span>
        </p>

        <h3><span class="translate" data-lang="profielen">Profielen</span></h3>
        <p><span class="translate" data-lang="profielenInfo">Op de pagina van de profielen kunt u alle profielen van alle gebruikers zijn. Hier kan de gebruiker mensen
            vinden waar je mee kan reizen, u kunt gebruik maken van de filter die op deze pagina is om het makkelijker
            te maken om de idealen reisbuddy te vinden. De gebruiker kan op deze pagina ook favorieten aanvinken en deze
            vervolgens bij de favorieten terug vinden.</span>
        </p>

        <h3><span class="translate" data-lang="reviews">Reviews</span></h3>
        <p><span class="translate" data-lang="reviewsInfo">Op deze pagina kunnen de mensen een review maken van de reis die ze hebben gemaakt, hier kunnen ze dus de
            reis aanbevelen of afraden De gebruikers kunnen ook reviews plaatsen over de site, ze kunnen hier in zetten
            of de site het gewenste resultaat heeft geleverd of dat het slecht werkte en een slecht resultaat had. De
            gebruikers kunnen ook reviews van de andere gebruikers lezen en kijken wat zij van een reis of de site
            vonden.</span></p>

        <h3><span class="translate" data-lang="userSettings">User settings</span></h3>
        <p><span class="translate" data-lang="userSettingsInfo">Op deze pagina kunnen de gebruikers hun persoonlijke gegevens aanpassen. Je kan bijvoorbeeld je hobby’s erin
            plaatsen (om gevonden te worden in de filter van de profielen pagina) en kunnen ze hun biografie plaatsen of
            aanpassen. De gebruiker kan hier ook kiezen wat de andere mensen kunnen bezichtigen. Op deze pagina kunt u
            ook uw
            profiel verwijderen.</span>
        </p>
    </div>
</div>
