<div class="content flex_col password_recovery_send">
    <div class="password_recovery">
        <p><span data-lang="Wachtwoord_Verstuur">
            Een email met uw nieuwe wachtwoord is verstuurt. Let op: het kan even duren voordat u een mail
            krijgt.
        </span></p>
        <a href="passwordRecovery.html">
            <button type="button" class="cancel_button"><span data-lang="Terug">terug</span></button>
        </a>
        <a href="home.html">
            <button type="button"><span data-lang="Naar_Home">naar Home</span></button>
        </a>
    </div>
</div>