<div class="content flex_col password_recovery">
    <div class="password_recovery">
        <form class="password_recovery_form">
            <h1><span data-lang="Wachtwoord_Vergeten">Wachtwoord vergeten.</span></h1>

            <label for="passwordRecovery"><p><span data-lang="Wachtwoord1">Bent u uw wachtwoord vergeten? Dat is helemaal niet erg. <br>
                <span data-lang="Wachtwoord2">Als u hieronder u email invoert dan krijgt u van ons een nieuw wachtwoord toegestuurt.</span></p>
            </label>
            <input type="email" placeholder="Voer hier u email in om een wachtwoord toeggestuurt te krijgen." data-lang="Wachtwoord3"
                   name="emailaddressInput" required id="passwordRecovery">
            <div>
                <a href="home.html">
                    <button type="button" class="cancel_button"><span data-lang="Annuleren">Annuleren</span></button>
                </a>
                <a href="passwordRecoverySend.html">
                    <button type="button"><span data-lang="Opsturen">Opsturen</button>
                </a>
            </div>
        </form>
    </div>
</div>