<div class="content login">
    <div class="login_header">
        <div class="header">
            <h2>Inloggen</h2>
        </div>
        <div class="footer">
            Log in met uw Mijn Corendon account
        </div>
    </div>
    <form method="post" class="login-form">
        <div class="error"></div>
        <p class="login_head">Gebruikersnaam</p>
        <input type="text" placeholder="gebruikersnaam" name="username">
        <p class="login_head">Wachtwoord</p>
        <input type="password" placeholder="wachtwoord" name="password">
        <div class="send">
        <input type="submit" value="send">
        </div>
        <div class="forgot_password">
            <a href="#">wachtwoord vergeten?</a>
        </div>
        <div class="no_account">
            Heeft u nog geen account? <a href="#">Start hier.</a>
        </div>
    </form>
</div>