<div class="header_body">
    <div class="content">
        <a href="#" class="logo">
            <img src="../../assets/img/header-logo.svg" alt="Corendon">
            <i class="close_mobile_nav fas fa-chevron-left fa-lg"></i>
        </a>
        <div class="logout">
            <a href="" data-controller="logout">Uitloggen <i class="fas fa-sign-out-alt fa-lg"></i></a>
        </div>
        <div class="user_nav_mobile">
            <a href="" class="nav_toggle">
                <i class="fas fa-bars fa-lg"></i>
                <p>menu</p>
            </a>
        </div>
    </div>
</div>
<div class="nav">
    <div class="content">
        <ul class="navbar">
            <li><a href="" data-controller="home"><i class="fas fa-home"></i></a></li>
            <li><a href="" data-controller="general">Algemeen</a></li>
            <li><a href="" data-controller="users">Gebruikers</a></li>
            <li><a href="" data-controller="lists">Lijsten</a></li>
        </ul>
    </div>
</div>
<div class="nav_tabs_mobile hide">
    <div class="content">
        <div class="tab" id="menu">
            <ul>
                <li><a href="" data-controller="home"><i class="fas fa-home"></i></a></li>
                <li><a href="" data-controller="general">Algemeen</a></li>
                <li><a href="" data-controller="users">Gebruikers</a></li>
                <li><a href="" data-controller="admin-destinations">Lijsten</a></li>
                <li><a href="" data-controller="logout">Uitloggen <i class="fas fa-sign-out fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</div>