<div class="content flex_col home">
    <h1>Welkom, Admin!</h1>

    <h3>Statistieken</h3>
    <div class="statistics">
        <div class="box">
            <h4>Aantal Gebruikers (M/V)</h4>
            <canvas id="numberUsers"></canvas>
        </div>
        <div class="box">
            <h4>Aantal Buddy Connecties</h4>
            <canvas id="numberBuddies"></canvas>
        </div>
        <div class="box full">
            <h4>Aantal Gebruiker Bestemmingen</h4>
            <canvas id="usersCountry"></canvas>
        </div>
    </div>
</div>