<div class="user_favorite_list" id="favorite_pagination">
    <div class="user_favorite_person">

        <div class="profile_content">
            <div class="profile_header_favorite" id="profile_header_favorite">
                <div class="hidden_gender"></div>
                <img class="profile_picture" src="">
                <h3 class="profile_name"></h3><button class="fas fa-star favorite_btn"></button>
            <div class="favorite">
            </div>
            </div>
            <div class="profile_body_favorite">
                <p>

                </p>
            </div>
            <div class="profile_footer_favorite">
                <a href="../profiles/profile_details.html">Bekijk profiel</a>
            </div>
        </div>
    </div>
</div>