<div class="profile_tile">
    <div><img class="profile_img" src="" alt=""></div>
    <div class="profile_content">
        <div class="profile_top">
            <div class="profile_header"></div><div class="user_id" hidden><p></p></div>
            <div class="favorite"><i class="far fa-star favorite_btn"></i></div>
        </div>
        <div class="profile_body"></div>
        <div class="profile_footer">
            <a class="profile_info_link">Bekijk profiel</a>
        </div>
    </div>
</div>